@model WebApplication1.Models.PasswordResetModel

@{
    ViewBag.Title = "PasswordReset";
}

<h2>@ViewBag.Title</h2>

<hr />
@using (Html.BeginForm("passwordreset", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{   
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        @Html.LabelFor(m => m.Account, new { @class = "col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
        </div>
    </div>

<br />

<div class="row">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
    <div class="col-md-6">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
</div>

<br />

<div class="row">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>

<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Password Reset" />
    </div>
</div>

<br />
}