<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)

</head>

<body class="container body-content">
    <header>
        <div class="row">
            <div class="col-md-7"><a href="@Url.Action("index", "home")"><img src="~/Images/cpe.jpg" /></a></div>
            <div class="col-md-1"><a class="btn btn-default" href="@Url.Action("Register","account")">Register</a></div>
            <div class="col-md-1"><a class="btn btn-default" href="@Url.Action("login", "login")"> Login</a></div>
            <div class="col-md-1"><a class="btn btn-default" href="@Url.Action("passwordreset", "account")"> PW reset</a></div>

            @if (Session["UserName"] == null)
            {
                <div class="col-md-2 text-right"><a class="btn btn-default" href="@Url.Action("index","login")">Login by ASP</a></div>
            }
            else
            {
                <div class="col-md-2 text-right"><a class="btn btn-default" href="@Url.Action("logoff","account")">Logout by ASP</a></div>
            }
        </div>
    </header>
    <br />
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("index", "home")">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("programe", "home")">Programe</a></li>
                        <li><a href="@Url.Action("tution", "home")">Tution Fee</a></li>
                        <li><a href="@Url.Action("timetable", "home")">TimeTable</a></li>
                        <li><a href="@Url.Action("comment", "home")">Comment</a></li>
                        <li><a href="#">Graduation</a></li>
                        <li><a href="#">Information Seminar</a></li>
                        <li><a href="@Url.Action("index", "more")">More Controller</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"></a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @Html.Partial("_users")
        <div id="app">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $('.navbar-nav li').on('click', function () {
        $('.navbar-nav li').removeClass('active')
        $(this).addClass('active')
    })
</script>